* {
    padding: 0;
    margin: 0;

}

body {
    font-family: "Poppins", sans-serif;
}

/* ............................... LANDING SECTION ........................................ */
#landing {
    height: 100vh;
    width: 100%;
    display: flex;
}

#landing > .leftContainer {
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
}

#landing > .leftContainer > .leftWrapper {
    padding:3.125rem;
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#landing > .leftContainer > .leftWrapper > h2 {
    font-weight: 300;
    font-size: 1.875rem;

}

#landing > .leftContainer > .leftWrapper > h1 {
    font-size: 3.125rem;
}

.titleContainer {
    height: 3.5rem;
    overflow: hidden;
}

.titleContainer > .titleWrapper {
    height: 100%;
    animation: myMove ease-in-out infinite alternate;
}

/* @keyframes myMove {
    25% { transform: translateY(-50px)}
   50% { transform: translateY(-100px)}
   75% { transform: translateY(-150px)}
   100% { transform: translateY(-200px)}
} */

.titleContainer > .titleWrapper > .titleItem {
    height:3.125rem;
    font-size:1.875rem;
    font-weight:bold;
    color: #8203cc;
    display: flex;
    align-items:center;
}

#landing > .rightContainer {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#landing > .rightContainer > .background {
    clip-path: polygon(100% 0%, 100% 60%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 100%;
    width: 100%;
    background-color: #8203cc;
    position: absolute;
    top:0;
    right:0;
}

#landing > .rightContainer > img {
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    animation: slidein;
}
@keyframes slidein {
    from {
        left: 0px;
      }
      to {
        left: 100px;
        
      }
}