* {
    padding: 0;
    margin: 0;

}

body {
    font-family: "Poppins", sans-serif;
}
/* ............................... NAVIGATION SECTION ..................................... */
nav {
    width: 100%;
    position: absolute;
    z-index: 1;
}

nav > .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.875rem;
    
}

nav > .navContainer > .left > h1 {
    color:#8203cc
}

nav > .navContainer > .right > ul {
    display: flex;
    
}

nav > .navContainer > .right > ul > li {
    list-style: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 500;
    
}

nav > .navContainer > .right > ul > li:hover {
    color:#a511ef
}

/* ............................... LANDING SECTION ........................................ */
#landing {
    height: 100vh;
    width: 100%;
    display: flex;
}

#landing > .leftContainer {
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
}

#landing > .leftContainer > .leftWrapper {
    padding:3.125rem;
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#landing > .leftContainer > .leftWrapper > h2 {
    font-weight: 300;
    font-size: 1.875rem;

}

#landing > .leftContainer > .leftWrapper > h1 {
    font-size: 3.125rem;
}

.titleContainer {
    height: 3.5rem;
    overflow: hidden;
}

.titleContainer > .titleWrapper {
    height: 100%;
    animation: move ease-in-out infinite alternate;
}

/* @keyframes move {
    from { top: 0px;}
    
    25% { transform: translateY(-50px)}
   50% { transform: translateY(-100px)}
   75% { transform: translateY(-150px)}
   100% { transform: translateY(-200px)}
   
   to {top: 200px;}
} */

.titleContainer > .titleWrapper > .titleItem {
    height:3.125rem;
    font-size:1.875rem;
    font-weight:bold;
    color: #8203cc;
    display: flex;
    align-items:center;
}

#landing > .rightContainer {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#landing > .rightContainer > .background {
    clip-path: polygon(100% 0%, 100% 60%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 100%;
    width: 100%;
    background-color: #8203cc;
    position: absolute;
    top:0;
    right:0;
}

#landing > .rightContainer > img {
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    animation: slidein;
}
/* @keyframes slidein {
    from {
        left: 0px;
      }
      to {
        left: 100px;
        
      }
} */

/* ............................. ABOUT SECTION .............................................. */
#about {
    height: 100vh;
    display: flex;
    align-items: center;
}

#about > .aboutLeft {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#about > .aboutLeft > .imgBackground {
    background-color: #333;
    height: 70vh;
    width: 60%;
    border-radius: 1.875rem;
    position: absolute;
    top: 3.125rem;
    left:3.125rem
}

#about > .aboutLeft > img {
    width:60%;
    height: 70vh;
    object-fit:cover;
    position: absolute;
    border-radius: 1.875rem;
    -webkit-filter: grayscale(100%);
    
}


#about > .aboutRight {
    flex: 1;
}

#about > .aboutRight > .aboutTitle {
    font-weight:400;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#about > .aboutRight > .aboutSubTititle {
    margin: 1.25rem 0
}

#about > .aboutRight > .aboutDesc {
    font-weight: 300;
    line-height: 1.5;
}


/* ........................... FOOTER SECTION .............................. */
#footer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 20vh;
    background-color: #8203cc;
}

#footer> .left {
    flex:1;
    display: flex;
    align-items: center;
   justify-content: center;
}

#footer> .left > .socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: transparent;
    cursor: pointer;
}

#footer > .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer > .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer > .right > .footerIcons > .icon {
    margin: 1rem;
}

#footer > .right > .footerIcons > .icon > .fas {
    margin-right: 0.5rem;
}